/* ==========================================================================
   Global Styles
   ========================================================================== */
   body.metrolics-body {

}

img {
    max-width: 100%;
    height: auto;
}

/* ==========================================================================
   Header Styles
   ========================================================================== */
.site-header {
    text-align: center;
    vertical-align: center;
}

.site-title, .header-nav {
    display: inline-block;
    vertical-align: bottom;
}

.header-nav a img, .nav-icon {
    display: block;
    height: 6rem;
    width: 7rem;
}

.site-title, .nav-item {
    display: inline-block;
    vertical-align: bottom;
}

.site-title {
    font-size: 1em;
    vertical-align: bottom;
}

img[src="img/Logo.png"] {
    width: 1.3em;
    height: auto;
    vertical-align: bottom;
}

/* ==========================================================================
   Main Content Styles
   ========================================================================== */
.main-content, .banner {
    background-color: lightgrey;
    text-align: center;
    height: auto;
    position: relative;
}

img[src="img/Banner.png"] {
    width: 70%;
    height: auto;
    position: relative;
}

.banner-link1, .banner-link2, .banner-link3 {
    position: absolute;
}

.banner-link1 { top: 30%; left: 25%; }
.banner-link2 { top: 39%; left: 25%; }
.banner-link3 { top: 48%; left: 25%; }

.link-image1, .link-image2, .link-image3 {
    width: auto;
    height: 3rem;
}

.content-container {
    background-color: white;
    height: auto;
}

/* ==========================================================================
   Section Styles (Do, Updates, Projects, Insights, Companies)
   ========================================================================== */
.do-image, .updates-image, .projects-image, .company-image, .insight-1, .insight-2 {
    width: auto;
    height: auto; 
}

/* Specific image sizes */
.do-image { height: 5em; }
.updates-image, .projects-image { height: 15em; width: 20em; }
.company-image { height: 7.5em; width: 11.25em; }
.insight-1, .insight-2 { height: 15em; }

.description {
  
}

/* ==========================================================================
   Footer Styles
   ========================================================================== */
.site-footer {
    background-color: #16242f;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
}

.footer-content h4 {
    color: white;
    margin-bottom: 10px;
}

.footer-content img {
    width: 100px;
    height: auto;
}

.author-section, .about-section, .photos-section, .tweets-section, .newsletter-section {
    display: inline-block;
    margin: 4rem;
    text-align: center;
}

.author-section {
    text-align: left;
}
