.site-header {
  text-align: center;
}

.site-title,
.header-nav {
  display: inline-block;
  vertical-align: middle;
}

.header-nav a img,
.nav-icon {
  display: block;
  height: 5rem;
  width: auto;
}

img[src="img/Logo.png"] {
  width: 1.3em;
  height: auto;
}

.site-title,
.nav-item {
  display: inline-block;
  vertical-align: middle;
}

.site-title {
  font-size: 1.5em;
}

.main-content,
.banner {
  background-color: lightgrey;
  text-align: center;
  height: auto;
}

img[src="img/Banner.png"] {
  width: 75rem;
  height: auto;
}

.main-content,
.content-container {
  background-color: white;
  height: auto;
}

.site-footer {
  background-color: rgb(32, 47, 51);
  padding: 20px;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-around;
}

.footer-content h4 {
  margin-bottom: 10px;
}

.footer-content img {
  width: 100px;
  height: auto;
}

.do-image {
  height: 5em;
  width: auto;
}

.updates-image {
  height: 15em;
  width: 20em;
}

.projects-image {
  height: 15em;
  width: 20em;
}

.company-image {
  height: 7.5em;
  width: 11.25em;
}

.insight-1,
.insight-2 {
  height: 15em;
  width: auto;
}

.footer-content h4 {
  color: white;
}